


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE OR REPLACE FUNCTION "public"."get_audit_logs_with_users"() RETURNS TABLE("id" "uuid", "actor_id" "uuid", "actor_email" "text", "action" "text", "entity_table" "text", "entity_id" "uuid", "old_data" "jsonb", "new_data" "jsonb", "created_at" timestamp with time zone)
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    -- Check if the calling user is an admin
    IF NOT EXISTS (
        SELECT 1 FROM auth.users 
        WHERE auth.users.id = auth.uid() 
        AND (raw_user_meta_data->>'role' IN ('admin', 'master_admin') OR raw_user_meta_data->>'is_admin' = 'true')
    ) THEN
        RAISE EXCEPTION 'Access Denied: Admins only';
    END IF;

    RETURN QUERY
    SELECT 
        al.id,
        al.actor_id,
        au.email::text AS actor_email,
        al.action,
        al.entity_table,
        al.entity_id,
        al.old_data,
        al.new_data,
        al.created_at
    FROM public.audit_logs al
    LEFT JOIN auth.users au ON au.id = al.actor_id
    ORDER BY al.created_at DESC
    LIMIT 1000;
END;
$$;


ALTER FUNCTION "public"."get_audit_logs_with_users"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_audit_log"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    INSERT INTO public.audit_logs (
        actor_id,
        action,
        entity_table,
        entity_id,
        old_data,
        new_data
    ) VALUES (
        auth.uid(),
        TG_OP,
        TG_TABLE_NAME,
        COALESCE(NEW.id, OLD.id),
        CASE WHEN TG_OP = 'DELETE' THEN row_to_json(OLD)::jsonb
             WHEN TG_OP = 'UPDATE' THEN row_to_json(OLD)::jsonb
             ELSE NULL END,
        CASE WHEN TG_OP = 'DELETE' THEN NULL
             ELSE row_to_json(NEW)::jsonb END
    );
    
    IF TG_OP = 'DELETE' THEN
        RETURN OLD;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."handle_audit_log"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$ BEGIN INSERT INTO public.staffs (id, full_name, email) VALUES (new.id, new.raw_user_meta_data->>'full_name', new.email); RETURN new; END; $$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_updated_at"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = now();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."handle_updated_at"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."set_whatsapp_profiles_lead_status"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
begin
  new."Lead_status" := 'UNREAD';
  return new;
end;
$$;


ALTER FUNCTION "public"."set_whatsapp_profiles_lead_status"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."FAQ" (
    "id" bigint NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "question" "text",
    "answer" "text"
);


ALTER TABLE "public"."FAQ" OWNER TO "postgres";


ALTER TABLE "public"."FAQ" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."FAQ_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."active_calls" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "phone_number" "text" NOT NULL,
    "caller_name" "text",
    "status" "text" DEFAULT 'active'::"text",
    "started_at" timestamp with time zone DEFAULT "now"(),
    "ended_at" timestamp with time zone,
    "call_sid" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "conference_name" "text",
    "customer_call_sid" "text",
    "executive_number" "text",
    "executive_call_sid" "text",
    "doctor_number" "text",
    "doctor_call_sid" "text"
);


ALTER TABLE "public"."active_calls" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."appointments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "patient_id" "uuid",
    "doctor_id" "uuid" NOT NULL,
    "sales_rep_id" "uuid" NOT NULL,
    "scheduled_at" timestamp with time zone NOT NULL,
    "duration_minutes" integer DEFAULT 30,
    "status" "text" DEFAULT 'pending'::"text",
    "meeting_link" "text",
    "notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "title" "text",
    "type" "text",
    "related_to" "text",
    "location" "text",
    "plan_details" "jsonb",
    "plan_id" "uuid",
    CONSTRAINT "appointments_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'confirmed'::"text", 'completed'::"text", 'cancelled'::"text", 'rejected'::"text"])))
);


ALTER TABLE "public"."appointments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."audit_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "actor_id" "uuid",
    "action" "text" NOT NULL,
    "entity_table" "text" NOT NULL,
    "entity_id" "uuid",
    "old_data" "jsonb",
    "new_data" "jsonb",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."audit_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."cart" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "medicine_id" "uuid" NOT NULL,
    "quantity" integer NOT NULL,
    "added_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "cart_quantity_check" CHECK (("quantity" > 0))
);


ALTER TABLE "public"."cart" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."clinical_assessments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "patient_id" "uuid" NOT NULL,
    "recorded_by" "uuid",
    "communication_id" "uuid",
    "weight_kg" numeric,
    "height_cm" numeric,
    "blood_pressure" "text",
    "conditions" "jsonb" DEFAULT '{}'::"jsonb",
    "current_medications" "text",
    "doctor_timeline_notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."clinical_assessments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."communications" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "lead_id" "uuid",
    "patient_id" "uuid",
    "sales_rep_id" "uuid",
    "doctor_id" "uuid",
    "twilio_sid" "text",
    "call_status" "text",
    "recording_url" "text",
    "duration_seconds" integer,
    "internal_notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."communications" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."conversations" (
    "id" bigint NOT NULL,
    "phone" "text" NOT NULL,
    "user_message" "text",
    "bot_reply" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."conversations" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."conversations_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."conversations_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."conversations_id_seq" OWNED BY "public"."conversations"."id";



CREATE TABLE IF NOT EXISTS "public"."inventory" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "manufacturer" "text",
    "category" "text",
    "price" numeric(10,2) NOT NULL,
    "stock_quantity" integer DEFAULT 0 NOT NULL,
    "requires_prescription" boolean DEFAULT false,
    "image_url" "text",
    "expiry_date" "date",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "Condition/Symptoms" "jsonb",
    "Dosage/Strength" "text",
    "sku" "text",
    "min_stock_threshold" integer DEFAULT 10
);


ALTER TABLE "public"."inventory" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."order_items" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "order_id" "uuid" NOT NULL,
    "medicine_id" "uuid" NOT NULL,
    "quantity" integer NOT NULL,
    "price_at_purchase" numeric(10,2) NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "order_items_quantity_check" CHECK (("quantity" > 0))
);


ALTER TABLE "public"."order_items" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."order_status_history" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "order_id" "uuid" NOT NULL,
    "status" "text" NOT NULL,
    "changed_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."order_status_history" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."orders" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "status" "text" DEFAULT 'pending'::"text",
    "payment_status" "text" DEFAULT 'unpaid'::"text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "full_name" "text",
    "age" integer,
    "height_cm" numeric(5,2),
    "weight_kg" numeric(5,2),
    "city" "text",
    "diabetes" boolean DEFAULT false,
    "thyroid_disease" boolean DEFAULT false,
    "pcos" boolean DEFAULT false,
    "fatty_liver" boolean DEFAULT false,
    "pancreatitis" boolean DEFAULT false,
    "kidney_disease" boolean DEFAULT false,
    "current_medications" "text",
    "medicine_requested" "text",
    "quantity_requested" "text",
    "doctor_notes" "text",
    "reviewed_at" timestamp with time zone
);


ALTER TABLE "public"."orders" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."patient_reports" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "patient_id" "uuid" NOT NULL,
    "uploaded_by" "uuid",
    "appointment_id" "uuid",
    "title" "text" NOT NULL,
    "file_type" "text",
    "file_url" "text" NOT NULL,
    "notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."patient_reports" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."permissions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "action" "text" NOT NULL,
    "description" "text",
    "module" "text" DEFAULT 'General'::"text" NOT NULL
);


ALTER TABLE "public"."permissions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."plans" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "price" numeric DEFAULT 0 NOT NULL,
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."plans" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."prescription_items" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "prescription_id" "uuid" NOT NULL,
    "inventory_id" "uuid" NOT NULL,
    "dosage" "text" NOT NULL,
    "frequency" "text" NOT NULL,
    "duration_days" integer NOT NULL,
    "total_quantity_prescribed" integer NOT NULL,
    "before_lunch" boolean DEFAULT false,
    "after_lunch" boolean DEFAULT false,
    "time" "text"
);


ALTER TABLE "public"."prescription_items" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."prescriptions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "patient_id" "uuid" NOT NULL,
    "doctor_id" "uuid" NOT NULL,
    "communication_id" "uuid",
    "status" "text" DEFAULT 'active'::"text",
    "superseded_by_id" "uuid",
    "valid_until" "date",
    "general_instructions" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "prescriptions_status_check" CHECK (("status" = ANY (ARRAY['active'::"text", 'superseded'::"text", 'cancelled'::"text", 'completed'::"text"])))
);


ALTER TABLE "public"."prescriptions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."processed_messages" (
    "message_id" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."processed_messages" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."role_permissions" (
    "role_id" "uuid" NOT NULL,
    "permission_id" "uuid" NOT NULL
);


ALTER TABLE "public"."role_permissions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."roles" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "description" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."roles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."staffs" (
    "id" "uuid" NOT NULL,
    "full_name" "text",
    "email" "text" NOT NULL,
    "phone" "text",
    "address" "text",
    "city" "text",
    "state" "text",
    "pincode" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "role_id" "uuid",
    "date_of_birth" "date",
    "gender" "text",
    "avatar_url" "text"
);


ALTER TABLE "public"."staffs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."subscriptions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "medicine_id" "uuid" NOT NULL,
    "plan_type" "text" NOT NULL,
    "quantity" integer NOT NULL,
    "status" "text" DEFAULT 'active'::"text",
    "start_date" "date" DEFAULT CURRENT_DATE NOT NULL,
    "end_date" "date",
    "next_delivery_date" "date",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "subscriptions_quantity_check" CHECK (("quantity" > 0))
);


ALTER TABLE "public"."subscriptions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_documents" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "file_url" "text" NOT NULL,
    "file_name" "text" NOT NULL,
    "uploaded_by" "uuid",
    "uploaded_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."user_documents" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_notes" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "author_id" "uuid" NOT NULL,
    "content" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."user_notes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_sources" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."user_sources" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."users" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "source" "text",
    "status" "text" DEFAULT 'NEW'::"text",
    "phone" "text" NOT NULL,
    "metadata" "jsonb",
    "assigned_sales_rep_id" "uuid",
    "converted_patient_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "next_followup_date" timestamp with time zone,
    "followup_notes" "text",
    "priority" "text" DEFAULT 'MEDIUM'::"text",
    "name" "text",
    "email" "text",
    "street_address" "text",
    "city" "text",
    "state" "text",
    "postal_code" "text",
    "country" "text",
    "interested_plan_id" "uuid",
    "source_id" "uuid",
    CONSTRAINT "leads_priority_check" CHECK (("priority" = ANY (ARRAY['HIGH'::"text", 'MEDIUM'::"text", 'LOW'::"text"]))),
    CONSTRAINT "leads_status_check" CHECK (("status" = ANY (ARRAY['NEW'::"text", 'UNREAD'::"text", 'ASSIGNED'::"text", 'CONTACT_ATTEMPTED'::"text", 'CONTACTED'::"text", 'QUALIFIED'::"text", 'CONSULTATION_SCHEDULED'::"text", 'CONSULTATION_COMPLETED'::"text", 'CONVERTED'::"text", 'ON_HOLD'::"text", 'LOST'::"text", 'BLACKLISTED'::"text"])))
);


ALTER TABLE "public"."users" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."whapp_profile" (
    "id" bigint NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "name" "text",
    "number" "text",
    "medical_condition" "text",
    "wants_call" boolean DEFAULT false,
    "step" "text" DEFAULT 'new'::"text"
);


ALTER TABLE "public"."whapp_profile" OWNER TO "postgres";


ALTER TABLE "public"."whapp_profile" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."whapp_profile_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."whatsapp_profiles" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "phone" "text" NOT NULL,
    "full_name" "text",
    "age" "text",
    "height_cm" "text",
    "weight_kg" "text",
    "city" "text",
    "diabetes" "text",
    "thyroid_disease" "text",
    "pcos" "text",
    "fatty_liver" "text",
    "pancreatitis" "text",
    "kidney_disease" "text",
    "current_medications" "text",
    "profile_complete" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "Lead_status" "text"
);


ALTER TABLE "public"."whatsapp_profiles" OWNER TO "postgres";


ALTER TABLE ONLY "public"."conversations" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."conversations_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."FAQ"
    ADD CONSTRAINT "FAQ_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."active_calls"
    ADD CONSTRAINT "active_calls_call_sid_key" UNIQUE ("call_sid");



ALTER TABLE ONLY "public"."active_calls"
    ADD CONSTRAINT "active_calls_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."appointments"
    ADD CONSTRAINT "appointments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."audit_logs"
    ADD CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."cart"
    ADD CONSTRAINT "cart_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."cart"
    ADD CONSTRAINT "cart_user_id_medicine_id_key" UNIQUE ("user_id", "medicine_id");



ALTER TABLE ONLY "public"."clinical_assessments"
    ADD CONSTRAINT "clinical_assessments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."communications"
    ADD CONSTRAINT "communications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."communications"
    ADD CONSTRAINT "communications_twilio_sid_key" UNIQUE ("twilio_sid");



ALTER TABLE ONLY "public"."conversations"
    ADD CONSTRAINT "conversations_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."inventory"
    ADD CONSTRAINT "inventory_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."inventory"
    ADD CONSTRAINT "inventory_sku_key" UNIQUE ("sku");



ALTER TABLE ONLY "public"."user_documents"
    ADD CONSTRAINT "lead_documents_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "leads_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."order_items"
    ADD CONSTRAINT "order_items_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."order_status_history"
    ADD CONSTRAINT "order_status_history_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."orders"
    ADD CONSTRAINT "orders_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."patient_reports"
    ADD CONSTRAINT "patient_reports_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."permissions"
    ADD CONSTRAINT "permissions_action_key" UNIQUE ("action");



ALTER TABLE ONLY "public"."permissions"
    ADD CONSTRAINT "permissions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."plans"
    ADD CONSTRAINT "plans_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."prescription_items"
    ADD CONSTRAINT "prescription_items_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."prescriptions"
    ADD CONSTRAINT "prescriptions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."processed_messages"
    ADD CONSTRAINT "processed_messages_pkey" PRIMARY KEY ("message_id");



ALTER TABLE ONLY "public"."staffs"
    ADD CONSTRAINT "profiles_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."staffs"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."role_permissions"
    ADD CONSTRAINT "role_permissions_pkey" PRIMARY KEY ("role_id", "permission_id");



ALTER TABLE ONLY "public"."roles"
    ADD CONSTRAINT "roles_name_key" UNIQUE ("name");



ALTER TABLE ONLY "public"."roles"
    ADD CONSTRAINT "roles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."subscriptions"
    ADD CONSTRAINT "subscriptions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_notes"
    ADD CONSTRAINT "user_notes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_sources"
    ADD CONSTRAINT "user_sources_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."whapp_profile"
    ADD CONSTRAINT "whapp_profile_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."whatsapp_profiles"
    ADD CONSTRAINT "whatsapp_profiles_phone_key" UNIQUE ("phone");



ALTER TABLE ONLY "public"."whatsapp_profiles"
    ADD CONSTRAINT "whatsapp_profiles_pkey" PRIMARY KEY ("id");



CREATE OR REPLACE TRIGGER "audit_user_notes_trigger" AFTER INSERT OR DELETE OR UPDATE ON "public"."user_notes" FOR EACH ROW EXECUTE FUNCTION "public"."handle_audit_log"();



CREATE OR REPLACE TRIGGER "audit_users_trigger" AFTER INSERT OR DELETE OR UPDATE ON "public"."users" FOR EACH ROW EXECUTE FUNCTION "public"."handle_audit_log"();



CREATE OR REPLACE TRIGGER "trg_set_whatsapp_profiles_lead_status" BEFORE INSERT ON "public"."whatsapp_profiles" FOR EACH ROW EXECUTE FUNCTION "public"."set_whatsapp_profiles_lead_status"();



CREATE OR REPLACE TRIGGER "update_appointments_modtime" BEFORE UPDATE ON "public"."appointments" FOR EACH ROW EXECUTE FUNCTION "public"."handle_updated_at"();



CREATE OR REPLACE TRIGGER "update_inventory_modtime" BEFORE UPDATE ON "public"."inventory" FOR EACH ROW EXECUTE FUNCTION "public"."handle_updated_at"();



CREATE OR REPLACE TRIGGER "update_leads_modtime" BEFORE UPDATE ON "public"."users" FOR EACH ROW EXECUTE FUNCTION "public"."handle_updated_at"();



CREATE OR REPLACE TRIGGER "update_prescriptions_modtime" BEFORE UPDATE ON "public"."prescriptions" FOR EACH ROW EXECUTE FUNCTION "public"."handle_updated_at"();



CREATE OR REPLACE TRIGGER "update_profiles_modtime" BEFORE UPDATE ON "public"."staffs" FOR EACH ROW EXECUTE FUNCTION "public"."handle_updated_at"();



ALTER TABLE ONLY "public"."appointments"
    ADD CONSTRAINT "appointments_doctor_id_fkey" FOREIGN KEY ("doctor_id") REFERENCES "public"."staffs"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."appointments"
    ADD CONSTRAINT "appointments_patient_id_fkey" FOREIGN KEY ("patient_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."appointments"
    ADD CONSTRAINT "appointments_plan_id_fkey" FOREIGN KEY ("plan_id") REFERENCES "public"."plans"("id");



ALTER TABLE ONLY "public"."appointments"
    ADD CONSTRAINT "appointments_sales_rep_id_fkey" FOREIGN KEY ("sales_rep_id") REFERENCES "public"."staffs"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."audit_logs"
    ADD CONSTRAINT "audit_logs_actor_id_fkey" FOREIGN KEY ("actor_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."cart"
    ADD CONSTRAINT "cart_medicine_id_fkey" FOREIGN KEY ("medicine_id") REFERENCES "public"."inventory"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."cart"
    ADD CONSTRAINT "cart_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."staffs"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."clinical_assessments"
    ADD CONSTRAINT "clinical_assessments_communication_id_fkey" FOREIGN KEY ("communication_id") REFERENCES "public"."communications"("id");



ALTER TABLE ONLY "public"."clinical_assessments"
    ADD CONSTRAINT "clinical_assessments_patient_id_fkey" FOREIGN KEY ("patient_id") REFERENCES "public"."staffs"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."clinical_assessments"
    ADD CONSTRAINT "clinical_assessments_recorded_by_fkey" FOREIGN KEY ("recorded_by") REFERENCES "public"."staffs"("id");



ALTER TABLE ONLY "public"."communications"
    ADD CONSTRAINT "communications_doctor_id_fkey" FOREIGN KEY ("doctor_id") REFERENCES "public"."staffs"("id");



ALTER TABLE ONLY "public"."communications"
    ADD CONSTRAINT "communications_lead_id_fkey" FOREIGN KEY ("lead_id") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."communications"
    ADD CONSTRAINT "communications_patient_id_fkey" FOREIGN KEY ("patient_id") REFERENCES "public"."staffs"("id");



ALTER TABLE ONLY "public"."communications"
    ADD CONSTRAINT "communications_sales_rep_id_fkey" FOREIGN KEY ("sales_rep_id") REFERENCES "public"."staffs"("id");



ALTER TABLE ONLY "public"."user_documents"
    ADD CONSTRAINT "lead_documents_lead_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_documents"
    ADD CONSTRAINT "lead_documents_uploaded_by_fkey" FOREIGN KEY ("uploaded_by") REFERENCES "public"."staffs"("id");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "leads_assigned_sales_rep_id_fkey" FOREIGN KEY ("assigned_sales_rep_id") REFERENCES "public"."staffs"("id");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "leads_converted_patient_id_fkey" FOREIGN KEY ("converted_patient_id") REFERENCES "public"."staffs"("id");



ALTER TABLE ONLY "public"."order_items"
    ADD CONSTRAINT "order_items_medicine_id_fkey" FOREIGN KEY ("medicine_id") REFERENCES "public"."inventory"("id");



ALTER TABLE ONLY "public"."order_items"
    ADD CONSTRAINT "order_items_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "public"."orders"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."order_status_history"
    ADD CONSTRAINT "order_status_history_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "public"."orders"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."patient_reports"
    ADD CONSTRAINT "patient_reports_appointment_id_fkey" FOREIGN KEY ("appointment_id") REFERENCES "public"."appointments"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."patient_reports"
    ADD CONSTRAINT "patient_reports_patient_id_fkey" FOREIGN KEY ("patient_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."patient_reports"
    ADD CONSTRAINT "patient_reports_uploaded_by_fkey" FOREIGN KEY ("uploaded_by") REFERENCES "public"."staffs"("id");



ALTER TABLE ONLY "public"."prescription_items"
    ADD CONSTRAINT "prescription_items_inventory_id_fkey" FOREIGN KEY ("inventory_id") REFERENCES "public"."inventory"("id");



ALTER TABLE ONLY "public"."prescription_items"
    ADD CONSTRAINT "prescription_items_prescription_id_fkey" FOREIGN KEY ("prescription_id") REFERENCES "public"."prescriptions"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."prescriptions"
    ADD CONSTRAINT "prescriptions_communication_id_fkey" FOREIGN KEY ("communication_id") REFERENCES "public"."communications"("id");



ALTER TABLE ONLY "public"."prescriptions"
    ADD CONSTRAINT "prescriptions_doctor_id_fkey" FOREIGN KEY ("doctor_id") REFERENCES "public"."staffs"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."prescriptions"
    ADD CONSTRAINT "prescriptions_patient_id_fkey" FOREIGN KEY ("patient_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."prescriptions"
    ADD CONSTRAINT "prescriptions_superseded_by_id_fkey" FOREIGN KEY ("superseded_by_id") REFERENCES "public"."prescriptions"("id");



ALTER TABLE ONLY "public"."staffs"
    ADD CONSTRAINT "profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."staffs"
    ADD CONSTRAINT "profiles_role_id_fkey" FOREIGN KEY ("role_id") REFERENCES "public"."roles"("id");



ALTER TABLE ONLY "public"."role_permissions"
    ADD CONSTRAINT "role_permissions_permission_id_fkey" FOREIGN KEY ("permission_id") REFERENCES "public"."permissions"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."role_permissions"
    ADD CONSTRAINT "role_permissions_role_id_fkey" FOREIGN KEY ("role_id") REFERENCES "public"."roles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."subscriptions"
    ADD CONSTRAINT "subscriptions_medicine_id_fkey" FOREIGN KEY ("medicine_id") REFERENCES "public"."inventory"("id");



ALTER TABLE ONLY "public"."subscriptions"
    ADD CONSTRAINT "subscriptions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."staffs"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_notes"
    ADD CONSTRAINT "user_notes_author_id_fkey" FOREIGN KEY ("author_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_notes"
    ADD CONSTRAINT "user_notes_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_interested_plan_id_fkey" FOREIGN KEY ("interested_plan_id") REFERENCES "public"."plans"("id");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_source_id_fkey" FOREIGN KEY ("source_id") REFERENCES "public"."user_sources"("id");



CREATE POLICY "Admins can manage all appointments" ON "public"."appointments" USING ((EXISTS ( SELECT 1
   FROM ("public"."staffs" "p"
     JOIN "public"."roles" "r" ON (("p"."role_id" = "r"."id")))
  WHERE (("p"."id" = "auth"."uid"()) AND ("r"."name" = ANY (ARRAY['admin'::"text", 'master_admin'::"text"])))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM ("public"."staffs" "p"
     JOIN "public"."roles" "r" ON (("p"."role_id" = "r"."id")))
  WHERE (("p"."id" = "auth"."uid"()) AND ("r"."name" = ANY (ARRAY['admin'::"text", 'master_admin'::"text"]))))));



CREATE POLICY "Admins can update non-admin profiles" ON "public"."staffs" FOR UPDATE USING (((EXISTS ( SELECT 1
   FROM ("public"."staffs" "p"
     JOIN "public"."roles" "r" ON (("p"."role_id" = "r"."id")))
  WHERE (("p"."id" = "auth"."uid"()) AND ("r"."name" = 'admin'::"text")))) AND (NOT (EXISTS ( SELECT 1
   FROM "public"."roles" "r"
  WHERE (("r"."id" = "staffs"."role_id") AND ("r"."name" = ANY (ARRAY['admin'::"text", 'master_admin'::"text"])))))))) WITH CHECK (((EXISTS ( SELECT 1
   FROM ("public"."staffs" "p"
     JOIN "public"."roles" "r" ON (("p"."role_id" = "r"."id")))
  WHERE (("p"."id" = "auth"."uid"()) AND ("r"."name" = 'admin'::"text")))) AND (NOT (EXISTS ( SELECT 1
   FROM "public"."roles" "r"
  WHERE (("r"."id" = "staffs"."role_id") AND ("r"."name" = ANY (ARRAY['admin'::"text", 'master_admin'::"text"]))))))));



CREATE POLICY "Admins can view all appointments" ON "public"."appointments" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM ("public"."staffs" "p"
     JOIN "public"."roles" "r" ON (("p"."role_id" = "r"."id")))
  WHERE (("p"."id" = "auth"."uid"()) AND ("r"."name" = ANY (ARRAY['admin'::"text", 'master_admin'::"text"]))))));



CREATE POLICY "Authenticated users can view audit logs" ON "public"."audit_logs" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Create user notes" ON "public"."user_notes" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Doctors can manage their own appointments" ON "public"."appointments" USING (("doctor_id" = "auth"."uid"())) WITH CHECK (("doctor_id" = "auth"."uid"()));



CREATE POLICY "Enable insert for authenticated users on patient_reports" ON "public"."patient_reports" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Enable read access for authenticated users on patient_reports" ON "public"."patient_reports" FOR SELECT TO "authenticated" USING (true);



ALTER TABLE "public"."FAQ" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "Master Admins can update any profile" ON "public"."staffs" FOR UPDATE USING ((EXISTS ( SELECT 1
   FROM ("public"."staffs" "p"
     JOIN "public"."roles" "r" ON (("p"."role_id" = "r"."id")))
  WHERE (("p"."id" = "auth"."uid"()) AND ("r"."name" = 'master_admin'::"text")))));



CREATE POLICY "No deletes allowed" ON "public"."user_notes" FOR DELETE TO "authenticated" USING (false);



CREATE POLICY "No updates allowed" ON "public"."user_notes" FOR UPDATE TO "authenticated" USING (false);



CREATE POLICY "Sales can manage their own booked appointments" ON "public"."appointments" USING (("sales_rep_id" = "auth"."uid"())) WITH CHECK (("sales_rep_id" = "auth"."uid"()));



CREATE POLICY "View user notes" ON "public"."user_notes" FOR SELECT TO "authenticated" USING (true);



ALTER TABLE "public"."appointments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."audit_logs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."patient_reports" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."user_notes" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."whapp_profile" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."get_audit_logs_with_users"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_audit_logs_with_users"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_audit_logs_with_users"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_audit_log"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_audit_log"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_audit_log"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_updated_at"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_updated_at"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_updated_at"() TO "service_role";



GRANT ALL ON FUNCTION "public"."set_whatsapp_profiles_lead_status"() TO "anon";
GRANT ALL ON FUNCTION "public"."set_whatsapp_profiles_lead_status"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."set_whatsapp_profiles_lead_status"() TO "service_role";



GRANT ALL ON TABLE "public"."FAQ" TO "anon";
GRANT ALL ON TABLE "public"."FAQ" TO "authenticated";
GRANT ALL ON TABLE "public"."FAQ" TO "service_role";



GRANT ALL ON SEQUENCE "public"."FAQ_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."FAQ_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."FAQ_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."active_calls" TO "anon";
GRANT ALL ON TABLE "public"."active_calls" TO "authenticated";
GRANT ALL ON TABLE "public"."active_calls" TO "service_role";



GRANT ALL ON TABLE "public"."appointments" TO "anon";
GRANT ALL ON TABLE "public"."appointments" TO "authenticated";
GRANT ALL ON TABLE "public"."appointments" TO "service_role";



GRANT ALL ON TABLE "public"."audit_logs" TO "anon";
GRANT ALL ON TABLE "public"."audit_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."audit_logs" TO "service_role";



GRANT ALL ON TABLE "public"."cart" TO "anon";
GRANT ALL ON TABLE "public"."cart" TO "authenticated";
GRANT ALL ON TABLE "public"."cart" TO "service_role";



GRANT ALL ON TABLE "public"."clinical_assessments" TO "anon";
GRANT ALL ON TABLE "public"."clinical_assessments" TO "authenticated";
GRANT ALL ON TABLE "public"."clinical_assessments" TO "service_role";



GRANT ALL ON TABLE "public"."communications" TO "anon";
GRANT ALL ON TABLE "public"."communications" TO "authenticated";
GRANT ALL ON TABLE "public"."communications" TO "service_role";



GRANT ALL ON TABLE "public"."conversations" TO "anon";
GRANT ALL ON TABLE "public"."conversations" TO "authenticated";
GRANT ALL ON TABLE "public"."conversations" TO "service_role";



GRANT ALL ON SEQUENCE "public"."conversations_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."conversations_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."conversations_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."inventory" TO "anon";
GRANT ALL ON TABLE "public"."inventory" TO "authenticated";
GRANT ALL ON TABLE "public"."inventory" TO "service_role";



GRANT ALL ON TABLE "public"."order_items" TO "anon";
GRANT ALL ON TABLE "public"."order_items" TO "authenticated";
GRANT ALL ON TABLE "public"."order_items" TO "service_role";



GRANT ALL ON TABLE "public"."order_status_history" TO "anon";
GRANT ALL ON TABLE "public"."order_status_history" TO "authenticated";
GRANT ALL ON TABLE "public"."order_status_history" TO "service_role";



GRANT ALL ON TABLE "public"."orders" TO "anon";
GRANT ALL ON TABLE "public"."orders" TO "authenticated";
GRANT ALL ON TABLE "public"."orders" TO "service_role";



GRANT ALL ON TABLE "public"."patient_reports" TO "anon";
GRANT ALL ON TABLE "public"."patient_reports" TO "authenticated";
GRANT ALL ON TABLE "public"."patient_reports" TO "service_role";



GRANT ALL ON TABLE "public"."permissions" TO "anon";
GRANT ALL ON TABLE "public"."permissions" TO "authenticated";
GRANT ALL ON TABLE "public"."permissions" TO "service_role";



GRANT ALL ON TABLE "public"."plans" TO "anon";
GRANT ALL ON TABLE "public"."plans" TO "authenticated";
GRANT ALL ON TABLE "public"."plans" TO "service_role";



GRANT ALL ON TABLE "public"."prescription_items" TO "anon";
GRANT ALL ON TABLE "public"."prescription_items" TO "authenticated";
GRANT ALL ON TABLE "public"."prescription_items" TO "service_role";



GRANT ALL ON TABLE "public"."prescriptions" TO "anon";
GRANT ALL ON TABLE "public"."prescriptions" TO "authenticated";
GRANT ALL ON TABLE "public"."prescriptions" TO "service_role";



GRANT ALL ON TABLE "public"."processed_messages" TO "anon";
GRANT ALL ON TABLE "public"."processed_messages" TO "authenticated";
GRANT ALL ON TABLE "public"."processed_messages" TO "service_role";



GRANT ALL ON TABLE "public"."role_permissions" TO "anon";
GRANT ALL ON TABLE "public"."role_permissions" TO "authenticated";
GRANT ALL ON TABLE "public"."role_permissions" TO "service_role";



GRANT ALL ON TABLE "public"."roles" TO "anon";
GRANT ALL ON TABLE "public"."roles" TO "authenticated";
GRANT ALL ON TABLE "public"."roles" TO "service_role";



GRANT ALL ON TABLE "public"."staffs" TO "anon";
GRANT ALL ON TABLE "public"."staffs" TO "authenticated";
GRANT ALL ON TABLE "public"."staffs" TO "service_role";



GRANT ALL ON TABLE "public"."subscriptions" TO "anon";
GRANT ALL ON TABLE "public"."subscriptions" TO "authenticated";
GRANT ALL ON TABLE "public"."subscriptions" TO "service_role";



GRANT ALL ON TABLE "public"."user_documents" TO "anon";
GRANT ALL ON TABLE "public"."user_documents" TO "authenticated";
GRANT ALL ON TABLE "public"."user_documents" TO "service_role";



GRANT ALL ON TABLE "public"."user_notes" TO "anon";
GRANT ALL ON TABLE "public"."user_notes" TO "authenticated";
GRANT ALL ON TABLE "public"."user_notes" TO "service_role";



GRANT ALL ON TABLE "public"."user_sources" TO "anon";
GRANT ALL ON TABLE "public"."user_sources" TO "authenticated";
GRANT ALL ON TABLE "public"."user_sources" TO "service_role";



GRANT ALL ON TABLE "public"."users" TO "anon";
GRANT ALL ON TABLE "public"."users" TO "authenticated";
GRANT ALL ON TABLE "public"."users" TO "service_role";



GRANT ALL ON TABLE "public"."whapp_profile" TO "anon";
GRANT ALL ON TABLE "public"."whapp_profile" TO "authenticated";
GRANT ALL ON TABLE "public"."whapp_profile" TO "service_role";



GRANT ALL ON SEQUENCE "public"."whapp_profile_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."whapp_profile_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."whapp_profile_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."whatsapp_profiles" TO "anon";
GRANT ALL ON TABLE "public"."whatsapp_profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."whatsapp_profiles" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







